@* Remember to replace the namespace below with your own project's namespace. *@
@namespace FluintUiBlazor.Shared

@inherits FluentComponentBase

<header class="@ClassValue" style="@StyleValue" @attributes="AdditionalAttributes">
    <div class="header-gutters">
        @ChildContent
    </div>
</header>